@import (reference) "layout";
.dialog.ui {
    .body {
        width: 85%;
        border-radius: 3px;
        overflow: hidden;
    }
    &.sm .body {
        max-width: 300px;
    }
    &.lg .body {
        width: 85%;
        max-width: 900px;
    }
    @media (min-width: 768px) {
        .body {
            width: 35%;
        }
    }
    h5,
    .head {
        font-size: 18px;
        padding: 15px 20px 8px;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #FAFAFC;
        
    }
    section {
        padding: 15px 20px;
        font-size: 16px;
        color: #888;
        background-color: #FAFAFC;
        background-clip: padding-box;
    }
    h5+section {
        padding-top: 0.7em;
    }
    .ft {
        >* {
            background-color: #FAFAFC;
            background-clip: padding-box;
            border-radius: 0;

            border-width:0px;
            border-top: 1px solid transparent;
            &:not(:first-child) {
                border-left: 1px solid transparent;
            }
        }
        .cells;
    }
}
