.hoverdown.ui,
.dropdown.ui {
    .items li {
        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-width: 1px;
        }
        border-width:1px 1px 0;
    }
    i.chevron {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
    }
    >div:first-child {
        background-color: #fff;
    }
}

.dropdown.ui {
    >input {
        outline: 0;
        border: 0;
        text-align: center;
    }
    >input::-webkit-input-placeholder {
        text-align: center;
    }
}
