i.ui {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #999;
    border-color: #999;
    border-width: 1px;
    font-style: normal;
    &.sm {
        width: 14px;
        height: 14px;
    }
    &.lg {
        width: 22px;
        height: 22px;
    }
    &.search {
        &:before {
            content: '';
            width: 60%;
            height: 60%;
            position: absolute;
            display: inline-block;
            border-width: 1px;
            border-style: solid;
            border-color: inherit;
            border-radius: 50%;
        }
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            bottom: 0;
            right: 18%;
            height: 50%;
            border-left-width: 1px;
            border-left-style: solid;
            border-color: inherit;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    &.clock {
        &:before,
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
        }
        &:before {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            box-sizing: border-box;
        }
        &:after {
            height: 30%;
            width: 30%;
            left: 50%;
            bottom: 50%;
            border-left-width: 1px;
            border-left-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
    }
    &.tick {
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            height: 38%;
            width: 84%;
            border-left-width: 1px;
            border-left-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            -webkit-transform: rotate(-45deg), -webkit-translate(-9%, 36%);
            -ms-transform: rotate(-45deg), -ms-translate(-9%, 36%);
            -o-transform: rotate(-45deg), -o-translate(-9%, 36%);
            transform: rotate(-45deg) translate(-9%, 36%);
        }
    }
    &.cross {
        &:after,
        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            border-left-width: 1px;
            border-left-style: solid;
            height: 100%;
            width: 100%;
        }
        &:after {
            -webkit-transform: rotate(45deg), -webkit-translate(48%, 0%);
            -ms-transform: rotate(45deg), -ms-translate(48%, 0%);
            -o-transform: rotate(45deg), -o-translate(48%, 0%);
            transform: rotate(45deg) translate(48%, 0%);
        }
        &:before {
            -webkit-transform: rotate(-45deg), -webkit-translate(48%, 0%);
            -ms-transform: rotate(-45deg), -ms-translate(48%, 0%);
            -o-transform: rotate(-45deg), -o-translate(48%, 0%);
            transform: rotate(-45deg) translate(48%, 0%);
        }
    }
    &.arrow {
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            height: 38%;
            width: 84%;
            border-left-width: 1px;
            border-left-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            -webkit-transform: rotate(-45deg), -webkit-translate(-9%, 36%);
            -ms-transform: rotate(-45deg), -ms-translate(-9%, 36%);
            -o-transform: rotate(-45deg), -o-translate(-9%, 36%);
            transform: rotate(-45deg) translate(-9%, 36%);
        }
    }
    &.menu {
        &:before,
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
        }
        &:before {
            top: 21%;
            width: 86%;
            border-top-width: 1px;
            border-top-style: solid;
        }
        &:after {
            top: 52%;
            height: 28%;
            width: 86%;
            border-top-width: 1px;
            border-top-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
    }
    &.chevron {
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            width: 50%;
            height: 50%;
            margin-top: -25%;
            margin-left: -25%;
            box-sizing: border-box;
            border-left-width: 1px;
            border-left-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
        &.down:after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &.top:after {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        &.left:after {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    /*
     &.option &.heart &.star
     &.zoomin &zoomout
    }*/
}