textarea.ui {
    height: 140px;
}

input.ui[type="text"],
input.ui[type="url"],
input.ui[type="email"],
input.ui[type="number"],
input.ui[type="password"],
input.ui[type="search"],
textarea.ui {
    width: 100%;
    line-height: 1.41176471;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: 0;
    resize: none;
}

input.ui[type="radio"],
input.ui[type="checkbox"] {
    -webkit-appearance: none;
    display: inline-block;
    margin-right: 3px;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    outline: 0;
    vertical-align: text-bottom;
}

input.ui[type="radio"] {
    border-radius: 50%;
    padding: 3px;
    background-clip: content-box;
    &:checked {
        background-color: #ccc;
    }
}

input.ui[type="checkbox"] {
    border-radius: 3px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 30%;
        width: 60%;
        border-left-width: 1px;
        border-left-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: transparent;
        -webkit-transform: rotate(-45deg), -webkit-translate(-12%, 72%);
        -ms-transform: rotate(-45deg), -ms-translate(-12%, 72%);
        -o-transform: rotate(-45deg), -o-translate(-12%, 72%);
        transform: rotate(-45deg) translate(-12%, 72%);
    }
    &:checked {
        background-color: #ccc;
        &:before {
            border-color: #fff;
        }
    }
}

input.ui[type="search"] {
    box-sizing: border-box;
}

input.mui[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 52px;
    height: 32px;
    border: 1px solid #DFDFDF;
    outline: 0;
    border-radius: 16px;
    box-sizing: border-box;
    background: #DFDFDF;
    &:checked {
        border-color: #04BE02;
        background-color: #04BE02;
        &:before {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        &:after {
            -webkit-transform: translateX(20px);
            transform: translateX(20px);
        }
    }
    &:after,
    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
    }
    &:before {
        width: 50px;
        height: 30px;
        background-color: #FDFDFD;
    }
    &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
}

input.mui[type="text"],
input.mui[type="url"],
input.mui[type="email"],
input.mui[type="number"],
input.mui[type="password"],
input.mui[type="search"],
textarea.mui {
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
}
