.ui .items {
    width: 100%;
    text-align: center;
    background: #fff;
    >li {
        padding: 10px 15px;
        line-height: 1.41176471;
        border-style: solid;
        border-color: #ddd;
        border-width: 1px 0 0;
        a {
            display: block;
            color: inherit;
            text-decoration: none;
        }
        &.div {
            border-top-width: 4px;
        }
    }
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}