.clear() {
    &:after {
        content: '';
        clear: both;
        height: 0;
        display: block;
    }
}

.container {
    .clear;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px) {
        max-width: 750px;
    }
    ;
    @media (min-width: 992px) {
        max-width: 970px;
    }
    ;
    @media (min-width: 1200px) {
        max-width: 1170px;
    }
    ;
}

.tb {
    display: table;
    box-sizing: border-box;
    width: 100%;
    >* {
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
    }
    >.full {
        width: 100%;
        white-space: normal;
    }
}

.cells {
    .tb;
    table-layout: fixed;
    >* {
        text-align: center;
    }
}

.bline {
    padding: 10px 15px;
    border-top: 1px solid @color-border;
    border-bottom: 1px solid @color-border;
    &.tb>*:first-child {
        padding-right: 15px;
    }
}

.bars {
    border-top: 1px solid @color-border;
    border-bottom: 1px solid @color-border;
    margin-bottom: 34px;
    >* {
        padding-left: 15px;
        .bline {
            padding-left: 0;
            border-top-color: transparent;
        }
        &:last-child .bline {
            border-bottom-color: transparent;
        }
        @media (min-width: 768px) {
            padding-left: 0px;
            .bline {
                padding-left: 15px;
            }
        }
    }
    .tb>*:first-child {
        padding-right: 15px;
    }
    >a {
        text-decoration: none;
        color: initial;
    }
    h4,
    p {
        margin: 0;
    }
}

ul.bars {
    padding-left: 0;
    list-style: none;
}

.img {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    &.lg {
        width: 70px;
        height: 70px;
    }
    &.md {
        width: 50px;
        height: 50px;
    }
    &.sm {
        width: 30px;
        height: 30px;
    }
    &.r {
        border-radius: 50%;
    }
}
