header.ui,
.header.ui,
nav.ui {
    .left,
    .right {
        height: 100%;
        min-width: 40px;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    height:44px;
}

ul.ui-nav {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    >li {
        height: 44px;
        min-width: 40px;
        display: inline-block;
        line-height: 44px;
        text-align: center;
        a {
            display: block;
            padding: 0 8px;
            text-decoration: none;
            color: inherit;
        }
    }
}

.ui-tabs {
    //  border-bottom: 1px solid @theme;
    li {
        position: relative;
        cursor: pointer;
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: @theme;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 0;
            opacity: 0;
            -webkit-transform: translate(0, 100%);
            -ms-transform: translate(0, 100%);
            -o-transform: translate(0, 100%);
            transform: translate(0, 100%);
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }
        &:hover:after,
        &.active:after {
            opacity: 1;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
}

footer.ui {
    line-height: 44px;
}
