@import (reference) "../theme";
progress.ui,
.progress.ui {
    background-color: #ebebeb;
    height: 3px;
    width: 100%;
}

progress.ui::-webkit-progress-bar {
    background-color: #ebebeb;
}

progress.ui::-webkit-progress-value {
    background-color: @theme;
}

.progress.ui {
    display: inline-block;
    >div:first-child {
        height: 100%;
        background-color: @theme;
    }
}