.slider.ui {
    .ctrls {
        >i {
            background-color: rgba(0, 0, 0, .1);
            color: rgba(255, 255, 255, .64);
            border-style: solid;
            border-color: transparent;
            border-width: 14px 10px;
            &.left {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            &.right {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            &:hover {
                background-color: rgba(0, 0, 0, .3);
                color: rgba(255, 255, 255, .72);
            }
        }
        .indicators li {
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 1px solid rgba(255, 255, 255, .72);
            border-radius: 3px;
            padding: 2px;
            &.active:after {
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                background-color: rgba(255, 255, 255, .8);
                border-radius: 2px;
            }
        }
    }
}