span.ui,
button.ui,
.span.ui {
    min-width: 44px;
    padding: 0 12px;
    line-height: 42px;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: center;
    &.sm {
        line-height: 24px;
    }
    &.s:active {
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
}

span.ui {
    display: inline-block;
    cursor: pointer;
}

button.ui {
    outline: 0;
    background-color: transparent;
    border-color: #ddd;
}
