ul.reset {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}
i.ic {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}
i.ic.opt i {
  display: block;
  position: relative;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  margin: 3px auto;
}
.fixed {
  position: fixed;
}
.fixed.top,
.fixed.bottom {
  left: 0;
  min-width: 100%;
}
.fixed.top {
  top: 0;
}
.fixed.bottom {
  bottom: 0;
}
.fixed.left,
.fixed.right {
  top: 0;
  min-height: 100%;
}
.fixed.left {
  left: 0;
}
.fixed.right {
  right: 0;
}
img {
  width: 40%;
  height: auto;
  overflow: hidden;
}
.c-m-graph .top-graph {
  width: 100%;
}
.c-m-graph .top-graph > ul,
.c-m-graph .top-graph > ul > li {
  width: 100%;
}
.c-m-graph .top-graph .c-graph {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}
.c-m-graph .top-graph .c-info {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: Center;
}
.c-sign .tb {
  line-height: 2.4;
  margin-bottom: 10px;
}
.c-sign .tb > *:first-child {
  min-width: 80px;
  text-align: Center;
}
.c-m-profile .c-profile .bline > *:nth-child(1) {
  width: 64px;
}
.c-m-profile .c-profile .bline > *:nth-child(3) {
  display: none;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.hoverdown {
  position: relative;
  display: inline-block;
}
.hoverdown > .down {
  position: absolute;
  display: none;
}
.hoverdown.active > .down {
  display: block;
  z-index: 1;
}
.hoverdown > div:first-child {
  padding: 10px 1.2em;
  text-align: center;
}
.hoverdown:hover > .down {
  display: block;
  z-index: 1;
}
.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.dropdown > .down {
  position: absolute;
  display: none;
}
.dropdown.active > .down {
  display: block;
  z-index: 1;
}
.dropdown > div:first-child {
  padding: 10px 1.2em;
  text-align: center;
}
.hoverdown.ui .items li,
.dropdown.ui .items li {
  border-width: 1px 1px 0;
}
.hoverdown.ui .items li:last-child,
.dropdown.ui .items li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-width: 1px;
}
.hoverdown.ui i.chevron,
.dropdown.ui i.chevron {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
}
.hoverdown.ui > div:first-child,
.dropdown.ui > div:first-child {
  background-color: #fff;
}
.dropdown.ui > input {
  outline: 0;
  border: 0;
  text-align: center;
}
.dropdown.ui > input::-webkit-input-placeholder {
  text-align: center;
}
.dropdown.ui-trans > .down {
  z-index: -10;
  opacity: 0;
  height: 0;
  display: block;
  -webkit-transform: translate(0, -40px);
  -o-transition: translate(0, -40px);
  transform: translate(0, -40px);
  -webkit-transition: opacity, transform 0.4s ease-in-out;
  -o-transition: opacity, transform 0.4s ease-in-out;
  transition: opacity, transform 0.4s ease-in-out;
}
.dropdown.ui-trans > div:first-child {
  position: relative;
}
.dropdown.ui-trans i.chevron {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dropdown.ui-trans.active > div:first-child {
  z-index: 2;
}
.dropdown.ui-trans.active > .down {
  z-index: 1;
  opacity: 1;
  height: auto;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.dropdown.ui-trans.active i.chevron {
  z-index: 2;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.slider {
  position: relative;
  margin: 0 auto;
  display: inline-block;
}
.slider .ctrls > i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.slider .ctrls > i.left {
  left: 0%;
}
.slider .ctrls > i.right {
  right: 0%;
}
.slider .ctrls .indicators {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.slider > ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.slider > ul > li {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}
.slider > ul > li.active {
  position: static;
  display: block;
}
.slider.ui .ctrls > i {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.64);
  border-style: solid;
  border-color: transparent;
  border-width: 14px 10px;
}
.slider.ui .ctrls > i.left {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.slider.ui .ctrls > i.right {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.slider.ui .ctrls > i:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.72);
}
.slider.ui .ctrls .indicators li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.72);
  border-radius: 3px;
  padding: 2px;
}
.slider.ui .ctrls .indicators li.active:after {
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}
.slider.ui-trans > ul > li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
.slider.ui-trans > ul > li.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  display: block;
  position: absolute;
}
.slider.ui-trans > ul > li.right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  display: block;
  position: absolute;
}
.surface {
  display: none;
}
.surface:before {
  content: '';
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
}
.surface .body {
  position: fixed;
  z-index: 1;
}
.surface.ui-trans:before,
.surface.ui-trans .body {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.surface.ui-trans.active:before,
.surface.ui-trans.active .body {
  opacity: 1;
}
.dialog {
  display: none;
}
.dialog:before {
  content: '';
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
}
.dialog .body {
  position: fixed;
  z-index: 1;
}
.dialog.active .body {
  -webkit-transform: -webkit-translate(-50%, -50%) !important;
  -ms-transform: -ms-translate(-50%, -50%) !important;
  -o-transform: -o-translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
.dialog .body {
  top: 50%;
  left: 50%;
}
.dialog.ui .body {
  width: 85%;
  border-radius: 3px;
  overflow: hidden;
}
.dialog.ui.sm .body {
  max-width: 300px;
}
.dialog.ui.lg .body {
  width: 85%;
  max-width: 900px;
}
@media (min-width: 768px) {
  .dialog.ui .body {
    width: 35%;
  }
}
.dialog.ui h5,
.dialog.ui .head {
  font-size: 18px;
  padding: 15px 20px 8px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #FAFAFC;
}
.dialog.ui section {
  padding: 15px 20px;
  font-size: 16px;
  color: #888;
  background-color: #FAFAFC;
  background-clip: padding-box;
}
.dialog.ui h5 + section {
  padding-top: 0.7em;
}
.dialog.ui .ft {
  display: table;
  box-sizing: border-box;
  width: 100%;
  table-layout: fixed;
}
.dialog.ui .ft > * {
  background-color: #FAFAFC;
  background-clip: padding-box;
  border-radius: 0;
  border-width: 0px;
  border-top: 1px solid transparent;
}
.dialog.ui .ft > *:not(:first-child) {
  border-left: 1px solid transparent;
}
.dialog.ui .ft > * {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.dialog.ui .ft > .full {
  width: 100%;
  white-space: normal;
}
.dialog.ui .ft > * {
  text-align: center;
}
.dialog.ui-trans:before,
.dialog.ui-trans .body {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dialog.ui-trans.active:before,
.dialog.ui-trans.active .body {
  opacity: 1;
}
.dialog.ui-trans .body {
  -webkit-transform: -webkit-translate(-50%, 0);
  -ms-transform: -ms-translate(-50%, 0);
  -o-transform: -o-translate(-50%, 0);
  transform: translate(-50%, 0);
}
.actionsheet {
  display: none;
}
.actionsheet:before {
  content: '';
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
}
.actionsheet .body {
  position: fixed;
  z-index: 1;
}
.actionsheet .body {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 217px;
  overflow-y: scroll;
}
.actionsheet.ui-trans:before,
.actionsheet.ui-trans .body {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.actionsheet.ui-trans.active:before,
.actionsheet.ui-trans.active .body {
  opacity: 1;
}
.actionsheet.ui-trans .body {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.actionsheet.ui-trans.active .body {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
/*toast*/
.toast.ui-trans {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  opacity: 0;
}
.toast.ui-trans.bottom {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.toast.ui-trans.top {
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);
}
.toast.ui-trans.bottom.right,
.toast.ui-trans.top.right,
.toast.ui-trans.bottom.left,
.toast.ui-trans.top.left {
  -webkit-transform: translate3d(100%, -50%, 0);
  transform: translate3d(100%, -50%, 0);
}
.toast.ui-trans.active {
  opacity: 1;
}
.toast.ui-trans.active.bottom,
.toast.ui-trans.active.top {
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.toast.ui-trans.active.bottom.right,
.toast.ui-trans.active.top.right,
.toast.ui-trans.active.bottom.left,
.toast.ui-trans.active.top.left {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.toast.ui {
  width: 7.6em;
  min-height: 2.7em;
  text-align: center;
  color: #fff;
  padding: 10px 12px;
  border-radius: 3px;
  box-sizing: border-box;
  background: rgba(40, 40, 40, 0.75);
}
.toast.ui.left.top,
.toast.ui.left.bottom {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.toast.ui.right.top,
.toast.ui.right.bottom {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.toast.bottom {
  top: auto;
  bottom: 12%;
}
.toast.top {
  top: 12%;
}
.toast.left {
  left: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.toast.right {
  right: 0;
  left: auto;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.toast .active {
  display: block;
}
i.ui {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #999;
  border-color: #999;
  border-width: 1px;
  font-style: normal;
  /*
     &.option &.heart &.star
     &.zoomin &zoomout
    }*/
}
i.ui.sm {
  width: 14px;
  height: 14px;
}
i.ui.lg {
  width: 22px;
  height: 22px;
}
i.ui.search:before {
  content: '';
  width: 60%;
  height: 60%;
  position: absolute;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 50%;
}
i.ui.search:after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 18%;
  height: 50%;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: inherit;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
i.ui.clock:before,
i.ui.clock:after {
  content: '';
  position: absolute;
  display: inline-block;
}
i.ui.clock:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}
i.ui.clock:after {
  height: 30%;
  width: 30%;
  left: 50%;
  bottom: 50%;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
i.ui.tick:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 38%;
  width: 84%;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -webkit-transform: rotate(-45deg), -webkit-translate(-9%, 36%);
  -ms-transform: rotate(-45deg), -ms-translate(-9%, 36%);
  -o-transform: rotate(-45deg), -o-translate(-9%, 36%);
  transform: rotate(-45deg) translate(-9%, 36%);
}
i.ui.cross:after,
i.ui.cross:before {
  content: '';
  position: absolute;
  display: inline-block;
  border-left-width: 1px;
  border-left-style: solid;
  height: 100%;
  width: 100%;
}
i.ui.cross:after {
  -webkit-transform: rotate(45deg), -webkit-translate(48%, 0%);
  -ms-transform: rotate(45deg), -ms-translate(48%, 0%);
  -o-transform: rotate(45deg), -o-translate(48%, 0%);
  transform: rotate(45deg) translate(48%, 0%);
}
i.ui.cross:before {
  -webkit-transform: rotate(-45deg), -webkit-translate(48%, 0%);
  -ms-transform: rotate(-45deg), -ms-translate(48%, 0%);
  -o-transform: rotate(-45deg), -o-translate(48%, 0%);
  transform: rotate(-45deg) translate(48%, 0%);
}
i.ui.arrow:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 38%;
  width: 84%;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -webkit-transform: rotate(-45deg), -webkit-translate(-9%, 36%);
  -ms-transform: rotate(-45deg), -ms-translate(-9%, 36%);
  -o-transform: rotate(-45deg), -o-translate(-9%, 36%);
  transform: rotate(-45deg) translate(-9%, 36%);
}
i.ui.menu:before,
i.ui.menu:after {
  content: '';
  position: absolute;
  display: inline-block;
}
i.ui.menu:before {
  top: 21%;
  width: 86%;
  border-top-width: 1px;
  border-top-style: solid;
}
i.ui.menu:after {
  top: 52%;
  height: 28%;
  width: 86%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
i.ui.chevron:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 50%;
  height: 50%;
  margin-top: -25%;
  margin-left: -25%;
  box-sizing: border-box;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
i.ui.chevron.down:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
i.ui.chevron.top:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
i.ui.chevron.left:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
textarea.ui {
  height: 140px;
}
input.ui[type="text"],
input.ui[type="url"],
input.ui[type="email"],
input.ui[type="number"],
input.ui[type="password"],
input.ui[type="search"],
textarea.ui {
  width: 100%;
  line-height: 1.41176471;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: 0;
  resize: none;
}
input.ui[type="radio"],
input.ui[type="checkbox"] {
  -webkit-appearance: none;
  display: inline-block;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  outline: 0;
  vertical-align: text-bottom;
}
input.ui[type="radio"] {
  border-radius: 50%;
  padding: 3px;
  background-clip: content-box;
}
input.ui[type="radio"]:checked {
  background-color: #ccc;
}
input.ui[type="checkbox"] {
  border-radius: 3px;
  position: relative;
}
input.ui[type="checkbox"]:before {
  content: '';
  position: absolute;
  display: block;
  height: 30%;
  width: 60%;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  -webkit-transform: rotate(-45deg), -webkit-translate(-12%, 72%);
  -ms-transform: rotate(-45deg), -ms-translate(-12%, 72%);
  -o-transform: rotate(-45deg), -o-translate(-12%, 72%);
  transform: rotate(-45deg) translate(-12%, 72%);
}
input.ui[type="checkbox"]:checked {
  background-color: #ccc;
}
input.ui[type="checkbox"]:checked:before {
  border-color: #fff;
}
input.ui[type="search"] {
  box-sizing: border-box;
}
input.mui[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 52px;
  height: 32px;
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background: #DFDFDF;
}
input.mui[type="checkbox"]:checked {
  border-color: #04BE02;
  background-color: #04BE02;
}
input.mui[type="checkbox"]:checked:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
input.mui[type="checkbox"]:checked:after {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
input.mui[type="checkbox"]:after,
input.mui[type="checkbox"]:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform .3s;
}
input.mui[type="checkbox"]:before {
  width: 50px;
  height: 30px;
  background-color: #FDFDFD;
}
input.mui[type="checkbox"]:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
input.mui[type="text"],
input.mui[type="url"],
input.mui[type="email"],
input.mui[type="number"],
input.mui[type="password"],
input.mui[type="search"],
textarea.mui {
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
}
span.ui,
button.ui,
.span.ui {
  min-width: 44px;
  padding: 0 12px;
  line-height: 42px;
  border-radius: 3px;
  border: 1px solid transparent;
  text-align: center;
}
span.ui.sm,
button.ui.sm,
.span.ui.sm {
  line-height: 24px;
}
span.ui.s:active,
button.ui.s:active,
.span.ui.s:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
span.ui {
  display: inline-block;
  cursor: pointer;
}
button.ui {
  outline: 0;
  background-color: transparent;
  border-color: #ddd;
}
progress.ui,
.progress.ui {
  background-color: #ebebeb;
  height: 3px;
  width: 100%;
}
progress.ui::-webkit-progress-bar {
  background-color: #ebebeb;
}
progress.ui::-webkit-progress-value {
  background-color: #000;
}
.progress.ui {
  display: inline-block;
}
.progress.ui > div:first-child {
  height: 100%;
  background-color: #000;
}
.ui .items {
  width: 100%;
  text-align: center;
  background: #fff;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}
.ui .items > li {
  padding: 10px 15px;
  line-height: 1.41176471;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0 0;
}
.ui .items > li a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.ui .items > li.div {
  border-top-width: 4px;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.container:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
.container:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.tb {
  display: table;
  box-sizing: border-box;
  width: 100%;
}
.tb > * {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.tb > .full {
  width: 100%;
  white-space: normal;
}
.cells {
  display: table;
  box-sizing: border-box;
  width: 100%;
  table-layout: fixed;
}
.cells > * {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.cells > .full {
  width: 100%;
  white-space: normal;
}
.cells > * {
  text-align: center;
}
.bline {
  padding: 10px 15px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
.bline.tb > *:first-child {
  padding-right: 15px;
}
.bars {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 34px;
}
.bars > * {
  padding-left: 15px;
}
.bars > * .bline {
  padding-left: 0;
  border-top-color: transparent;
}
.bars > *:last-child .bline {
  border-bottom-color: transparent;
}
@media (min-width: 768px) {
  .bars > * {
    padding-left: 0px;
  }
  .bars > * .bline {
    padding-left: 15px;
  }
}
.bars .tb > *:first-child {
  padding-right: 15px;
}
.bars > a {
  text-decoration: none;
  color: initial;
}
.bars h4,
.bars p {
  margin: 0;
}
ul.bars {
  padding-left: 0;
  list-style: none;
}
.img {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: inline-block;
}
.img.lg {
  width: 70px;
  height: 70px;
}
.img.md {
  width: 50px;
  height: 50px;
}
.img.sm {
  width: 30px;
  height: 30px;
}
.img.r {
  border-radius: 50%;
}
header.ui,
.header.ui,
nav.ui {
  height: 44px;
}
header.ui .left,
.header.ui .left,
nav.ui .left,
header.ui .right,
.header.ui .right,
nav.ui .right {
  height: 100%;
  min-width: 40px;
}
header.ui .left,
.header.ui .left,
nav.ui .left {
  float: left;
}
header.ui .right,
.header.ui .right,
nav.ui .right {
  float: right;
}
ul.ui-nav {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}
ul.ui-nav > li {
  height: 44px;
  min-width: 40px;
  display: inline-block;
  line-height: 44px;
  text-align: center;
}
ul.ui-nav > li a {
  display: block;
  padding: 0 8px;
  text-decoration: none;
  color: inherit;
}
.ui-tabs li {
  position: relative;
  cursor: pointer;
}
.ui-tabs li:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.ui-tabs li:hover:after,
.ui-tabs li.active:after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
footer.ui {
  line-height: 44px;
}
.dragover {
  position: relative;
}
.dragover:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  box-sizing: border-box;
  background-color: #ccc;
  border-radius: 3px;
  border: 4px solid #ccc;
  content: attr(data-msg);
  display: block;
  text-align: center;
}
/*for firefox*/
html {
  min-height: 100%;
  position: relative;
  line-height: 1.41176471;
}
/*for sari and chrome
body {
    min-height: 100%;
    position: relative; 
}
*/
/* reset the margin to adress the overflow margin of hx in chrome*/
h2 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
}
h1.ui,
h2.ui,
h3.ui,
h4.ui,
h5.ui,
h6.ui {
  font-weight: normal;
}
.sidebar {
  position: absolute;
  height: 100%;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
a.ui {
  text-decoration: none;
  color: initial;
}
.ui-vct {
  position: absolute;
  top: 50%;
  -webkit-transform: -webkit-translateY(-50%);
  -ms-transform: -ms-translateY(-50%);
  -o-transform: -o-translateY(-50%);
  transform: translateY(-50%);
}
.count {
  position: relative;
}
.count input {
  padding-right: 42px;
}
.count textarea {
  padding-bottom: 32px;
}
.count:after {
  content: attr(data-count);
  color: #ccc;
  position: absolute;
  bottom: 0;
  transform: translate(0, -50%);
  right: 15px;
}
/*.searchbox*/
/*loading img*/
/*
.none {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

.nowraps {
    //多行文字省略号
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.nowrap {
    //单行省略
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

