.actionsheet {
    .surface;
    .body {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 217px;
        overflow-y: scroll;
    }
}

.actionsheet.ui-trans {
    .surface.ui-trans;
    .body {
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
    &.active .body {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
