@import (reference) "surface";
.dialog {
    .surface;
    &.active .body {
        -webkit-transform: -webkit-translate(-50%, -50%)!important;
        -ms-transform: -ms-translate(-50%, -50%)!important;
        -o-transform: -o-translate(-50%, -50%)!important;
        transform: translate(-50%, -50%)!important;
    }
    .body {
        top: 50%;
        left: 50%;
    }
}


