.hoverdown {
    position: relative;
    display: inline-block;
    >.down {
        position: absolute;
        display: none;
    }
    &.active{
        >.down{
            display: block;
            z-index: 1;
        }
    }
    >div:first-child {
        padding: 10px 1.2em;
        text-align: center;
    }
}
.hoverdown:hover>.down {
    display: block;
    z-index: 1;
}
.dropdown {
    cursor: pointer;
    .hoverdown;
}
