.slider {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    .ctrls {
        >i {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            &.left {
                left: 0%;
            }
            &.right {
                right: 0%;
            }
        }
        .indicators {
            padding-left: 0;
            margin-bottom: 0;
            margin-top: 0;
            list-style: none;
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
        }
    }
    >ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        overflow: hidden;
        position: relative;
        >li {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            &.active {
                position: static;
                display: block;
            }
        }
    }
}