.surface {
    display: none;
    &:before {
        content: '';
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.24);
    }
    .body {
        position: fixed;
        z-index: 1;
    }
}
