/*toast*/

.toast.ui-trans {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    opacity: 0;
    &.bottom {
        -webkit-transform: translate3d(-50%, 50%, 0);
        transform: translate3d(-50%, 50%, 0);
    }
    &.top {
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
    }
    &.bottom,
    &.top {
        &.right,
        &.left {
            -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
        }
    }
    &.active {
        opacity: 1;
        &.bottom,
        &.top {
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            &.right,
            &.left {
                -webkit-transform: translate3d(0, -50%, 0);
                transform: translate3d(0, -50%, 0);
            }
        }
    }
}

.toast.ui {
    width: 7.6em;
    min-height: 2.7em;
    text-align: center;
    color: #fff;
    padding: 10px 12px;
    border-radius: 3px;
    box-sizing: border-box;
    background: rgba(40, 40, 40, 0.75);
    &.left.top,
    &.left.bottom {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &.right.top,
    &.right.bottom {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    &.bottom {
        top: auto;
        bottom: 12%;
    }
    &.top {
        top: 12%;
    }
    &.left {
        left: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    &.right {
        left: auto;
        right: 0;
        left: auto;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    .active {
        display: block;
    }
}
