ul.reset {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

i.ic {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}

i.ic.opt {
    i {
        display: block;
        position: relative;
        width: 3px;
        height: 3px;
        background-color: #000;
        border-radius: 3px;
        margin: 3px auto;
    }
}

.fixed {
    position: fixed;
    &.top,
    &.bottom {
        left: 0;
        min-width: 100%;
    }
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    &.left,
    &.right {
        top: 0;
        min-height: 100%;
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}

img {
    width: 40%;
    height: auto;
    overflow: hidden;
}

.c-m-graph {
    .top-graph {
        width: 100%;
        >ul,
        >ul>li {
            width: 100%;
        }
        .c-graph {
            width: 100%;
            padding-top: 56.25%;
            position: relative;
        }
        .c-info {
            position: absolute;
            bottom: 20%;
            width: 100%;
            text-align: Center;
        }
    }
}

.c-sign .tb {
    line-height: 2.4;
    margin-bottom: 10px;
    >*:first-child {
        min-width: 80px;
        text-align: Center;
    }
}

.c-m-profile {
    .c-profile {
        .bline>* {
            &:nth-child(1) {
                width: 64px;
            }
            &:nth-child(2) {
             //  width: 100%;
            }
            &:nth-child(3) {
            display : none;
            }
        }
    }
}

.c-m-article{
  .c-article h4{

  }
}