@import (once) "normalize";
@import (once) "theme";
//widget
@import (once) "core/dropdown";
@import (once) "ui/dropdown";
@import (once) "trans/dropdown";
@import (once) "core/slider";
@import (once) "ui/slider";
@import (once) "trans/slider";
@import (once) "core/surface";
@import (once) "trans/surface";
@import (once) "core/dialog";
@import (once) "ui/dialog";
@import (once) "trans/dialog";
@import (once) "core/actionsheet";
@import (once) "core/toast";

//ui
@import (once) "ui/i";
@import (once) "ui/input";
@import (once) "ui/span";
@import (once) "ui/progress";
@import (once) "ui/items";
@import (once) "ui/layout";
@import (once) "ui/module";


.dragover {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 30%;
        box-sizing: border-box;
        background-color: #ccc;
        border-radius: 3px;
        border: 4px solid #ccc;
        content: attr(data-msg);
        display: block;
        text-align: center;
    }
}



/*for firefox*/

html {
    min-height: 100%;
    position: relative;
    line-height: 1.41176471;
}


/*for sari and chrome
body {
    min-height: 100%;
    position: relative; 
}
*/

/* reset the margin to adress the overflow margin of hx in chrome*/

h1 {}

h2 {
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.ui {
        font-weight: normal;
    }
}

.sidebar {
    position: absolute;
    height: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

a.ui {
    text-decoration: none;
    color: initial;
}

nav.ui {}

.clear() {
    &:after {
        content: '';
        clear: both;
        height: 0;
        display: block;
    }
}

.ui-vct {
    position: absolute;
    top: 50%;
    -webkit-transform: -webkit-translateY(-50%);
    -ms-transform: -ms-translateY(-50%);
    -o-transform: -o-translateY(-50%);
    transform: translateY(-50%);
}

.searchbox{

}

.count {
    position: relative;
    input {
        padding-right: 42px;
    }
    textarea {
        padding-bottom: 32px;
    }
    &:after {
        content: attr(data-count);
        color: #ccc;
        position: absolute;
        bottom: 0;
        transform: translate(0, -50%);
        right: 15px;
    }
}

/*.searchbox*/
/*loading img*/

/*
.none {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

.nowraps {
    //多行文字省略号
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.nowrap {
    //单行省略
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/