.dialog.ui-trans {
    .surface.ui-trans;
    .body {
        -webkit-transform: -webkit-translate(-50%, 0);
        -ms-transform: -ms-translate(-50%, 0);
        -o-transform: -o-translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}