.dropdown.ui-trans {
    >.down {
        z-index: -10;
        opacity: 0;
        height: 0;
        display: block;
        -webkit-transform: translate(0, -40px);
        -o-transition: translate(0, -40px);
        transform: translate(0, -40px);
        -webkit-transition: opacity, transform .4s ease-in-out;
        -o-transition: opacity, transform .4s ease-in-out;
        transition: opacity, transform .4s ease-in-out;
    }
    >div:first-child {
        position: relative;
    }
    i.chevron {
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    &.active {
        >div:first-child {
            z-index: 2;
        }
        >.down {
            z-index:1;
            opacity: 1;
            height: auto;
            visibility: visible;
            -webkit-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        i.chevron {
            z-index: 2;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
}
