.surface.ui-trans {
    &:before, .body{
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    &.active {
    	&:before, .body{
			 opacity: 1;
    	}
    }
}