<!DOCTYPE>
<!DOCTYPE>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1">
    <link rel="stylesheet" href="/css/zfinal.css">
    <title></title>
</head>

<body>
    <header>
        <div class="left">{{title}}</div>
        <div class="container">
            <ul class="line-box">
                <li><a href="">graph</a></li>
                <li><a href="">mark</a></li>
                <li><a href="">chat</a></li>
            </ul>
            <div class="right">
                
            </div>
        </div>
    </header>
</body>

</html>
