<!DOCTYPE>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1">
    <link rel="stylesheet" href="/css/zfinal.css">
    <title></title>
</head>

<body>
    <header class="ui">
        <div class="container">
            <div class="left">{{title}}</div>
            <div class="right" id="account">
                <div class="dropdown ui" data-ctrl="dropdown">
                    <div>用户</div>
                    <ul class="down items">
                        <li><a href="">主页</a></li>
                        <li><a href="">profile</a></li>
                        <li class="div">退出</li>
                    </ul>
                </div>
            </div>
            <ul class="ui-nav">
                <li><a href="">graph</a></li>
                <li><a href="">md</a></li>
                <li><a href="">chat</a></li>
            </ul>
        </div>
        <div class="dialog ui-trans ui" id="sign" data-ctrl="dialog">
            <div class="body">
                <div class="ui-tabs head">
                    <ul>
                        <li class="active"><a href="#signin">登陆</a></li>
                        <li><a href="#signup">注册</a></li>
                    </ul>
                </div>
                <section>
                    <div class="c-sign">
                        <div class="tb">
                            <div>
                                <label for="">用户名</label>
                            </div>
                            <div class="full">
                                <input name="name" type="text" class="ui">
                            </div>
                        </div>
                        <div class="tb">
                            <div>
                                <label for="">密码</label>
                            </div>
                            <div class="full">
                                <input name="password" type="text" class="ui">
                            </div>
                        </div>
                    </div>
                </section>
                <div class="ft table">
                    <span class="ui" data-off id="sign-submit">确定</span>
                    <span class="ui" data-off>取消</span>
                </div>
            </div>
        </div>
    </header>
    <div class="bd c-m-profile">
        <div class="container">
            <ul class="bars c-profile">
                <li>
                    <div class="bline tb">
                        <div>用户名</div>
                        <div>{{user.nickname}}</div>
                        <div>
                            <i class="ui chevron"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="bline tb">
                        <div>简介</div>
                        <div>{{user.intro}}</div>
                        <div>
                            <i class="ui chevron"></i>
                        </div>
                    </div>
                </li>
               
                <li>
                    <div class="bline tb">
                        <div>标签</div>
                        <div>{{#each user.tag}} {{}} {{/each}}</div>
                        <div>
                            <i class="ui chevron"></i>
                        </div>
                    </div>
                </li>
                 <li class="">
                    <div class="bline tb">
                        <div>登陆名</div>
                        <div>{{user.name}}</div>
                        <div><i class="ui chevron"></i></div>
                    </div>
                </li>
                 <li class="">
                    <div class="bline tb">
                        <div>密码</div>
                        <div>修改</div>
                        <div><i class="ui chevron"></i></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <footer class="ui fixed bottom">
        <div class="container"><span class="ui">照片</span></div>
    </footer>
    <script src="/js/util.js"></script>
    <script>
    var sign = document.querySelector('#sign');
    _.forEach(sign.querySelectorAll('.tabs li'), function(item) {
        item.addEventListener('click', function(e) {
            this.classList.add('active');
            (this.previousElementSibling || this.nextElementSibling).classList.remove('active')
                // e.preventDefault();
        });
    });

    //var type= sign.querySelec
    document.querySelector('#sign-submit').addEventListener('click', function(e) {
        _.ajax('/user/' + location.hash.substring(1), {
            method: 'post',
            data: _.serialize(document.querySelector('#sign')),
            load: function(res) {
                console.log(res)
            },
        });
        e.preventDefault();
    })
    </script>
</body>

</html>
